CACHE_SIZE=5mb
EVICTION_POLICY=allkeys-lru
CACHE_TTL_Q1=3600
CACHE_TTL_Q2=300
CACHE_TTL_Q3=1800
CACHE_TTL_Q4=600
CACHE_TTL_Q5=900
DISTRIBUTION=uniform
TOTAL_REQUESTS=200
ARRIVAL_RATE=2
ZIPF_PARAM=1.5
